{
  "name": "{{pkgName}}",
  "description": "{{pkgDescription}}",
  "version": "{{pkgVersion}}",
  "author": "{{usrName}} <{{usrEmail}}>",
  "bugs": {
    "url": "https://github.com/{{usrGithub}}/{{pkgName}}/issues"
  },
  "devDependencies": {
    "faucet": "0.0.1",
    "standard": "*",
    "tape": "^4.0.0"
  },
  "homepage": "https://github.com/{{usrGithub}}/{{pkgName}}",
  "license": "{{pkgLicense}}",
  "keywords": [{{pkgKeywords}}],
  "main": "index.js",
  "repository": {
    "type": "git",
    "url": "https://github.com/{{usrGithub}}/{{pkgName}}.git"
  },
  "scripts": {
    "test": "standard && faucet"
  }
}
