# {{pkgName}}

[![npm][npm-image]][npm-url]
[![travis][travis-image]][travis-url]
[![standard][standard-image]][standard-url]

[npm-image]: https://img.shields.io/npm/v/{{pkgName}}.svg?style=flat-square
[npm-url]: https://www.npmjs.com/package/{{pkgName}}
[travis-image]: https://img.shields.io/travis/{{usrGithub}}/{{pkgName}}.svg?style=flat-square
[travis-url]: https://travis-ci.org/{{usrGithub}}/{{pkgName}}
[standard-image]: https://img.shields.io/badge/code%20style-{{pkgLinter}}-brightgreen.svg?style=flat-square
[standard-url]: http://npm.im/{{pkgLinter}}

{{#pkgDescription}}
{{pkgDescription}}

{{/pkgDescription}}
## Install

```
npm install {{pkgName}}
```

## Usage

```js
var {{nodeName}} = require('{{pkgName}}')
```

{{#pkgContributing}}
## Contributing

Contributions welcome! Please read the [contributing guidelines](CONTRIBUTING.md) first.

{{/pkgContributing}}
## License

[{{pkgLicense}}](LICENSE.md)
